# Exploratory Data Analysis Googleplaystore

## Dataset Googleplaystore

Dataset Googleplaystore teridiri dari :
1. Googleplaystore Apps : googleplaystore
2. Googleplaystore user review : googleplaystore_user_review

Tipe kedua dataset tersebut adalah csv

## Importing library & Dataset

In [1]:
# Import library
import numpy as np
import pandas as pd

# Import data
dfGapps = pd.read_csv('dataset/googleplaystore.csv')
dfGUserReview = pd.read_csv('dataset/googleplaystore_user_reviews.csv')

## Googleplaystore Apps

Googleplaystore Apps adalah dataset mengenai aplikasi yang terdapat di googleplaystore dan terdiri dari :

In [2]:
# Baris beserta tipe data
dfGapps.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [3]:
# Jumlah baris dan kolom
dfGapps.shape

(10841, 13)

In [4]:
# Menampilkan dataset
dfGapps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite ‚Äì FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

## Googleplaystore User Review

Googleplaystore Usert Review adalah dataset mengenaai review dari tiap user terhadap aplikasi dalam Googleplaystore dan terdiri dari :

In [5]:
# Baris dan tipe data
dfGUserReview.dtypes

App                        object
Translated_Review          object
Sentiment                  object
Sentiment_Polarity        float64
Sentiment_Subjectivity    float64
dtype: object

In [6]:
# Jumlah baris dan kolom
dfGUserReview.shape

(64295, 5)

In [7]:
# menampilkan dataset
dfGUserReview.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

## Menghitung Keseluruhan Review dari dfGUserReview

In [8]:
count = dfGUserReview['App'].value_counts() 
print(count)

Angry Birds Classic                                   320
Bowmasters                                            320
CBS Sports App - Scores, News, Stats & Watch Live     320
Helix Jump                                            300
8 Ball Pool                                           300
Bubble Shooter                                        260
Calorie Counter - MyFitnessPal                        260
Garena Free Fire                                      240
Candy Crush Saga                                      240
DEAD TARGET: FPS Zombie Apocalypse Survival Games     240
ESPN                                                  240
Duolingo: Learn Languages Free                        240
Granny                                                220
Hill Climb Racing                                     220
Block Puzzle                                          220
Flow Free                                             220
Hangouts                                              220
Google Photos                                         220
Farm Heroes Saga                                      220
Bleacher Report: sports news, scores, & highlights    200
Calorie Counter by FatSecret                          200
Alto's Adventure                                      200
Calorie Counter - Macros                              200
Calorie Counter - MyNetDiary                          200
10 Best Foods for You                                 200
Agar.io                                               200
8fit Workouts & Meal Planner                          180
Adobe Acrobat Reader                                  180
Fishdom                                               180
Galaxy Attack: Alien Shooter                          180
                                                     ...
Call of Duty:Black Ops Zombies                         40
Blogger                                                40
Current debit card and app made for teens              40
CityMaps2Go Plan Trips Travel Guide Offline Maps       40
Baby Sleep: White noise lullabies for newborns         40
2018Emoji Keyboard üòÇ Emoticons Lite -sticker&gif       40
Foursquare City Guide                                  40
ExDialer - Dialer & Contacts                           40
Ebates: Cash Back, Coupons, Rewards & Savings          40
EasyBib: Citation Generator                            40
Caller ID +                                            40
File Explorer                                          40
Breaking News, Local news, Attacks and Alerts Free     40
BaBe+ - Berita Indonesia                               40
Dairy Queen                                            40
Hideman VPN                                            40
DMV Permit Practice Test 2018 Edition                  40
Domofond –ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å. –ö—É–ø–∏—Ç—å, —Å–Ω—è—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—É.         39
Calculator - free calculator ,multi calculator app     38
Dr. Oetker Rezeptideen                                 38
591ÊàøÂ±ã‰∫§Êòì-È¶ôÊ∏Ø                                             38
Acupuncture Assistant                                  34
Caf - Mon Compte                                       33
FOSSIL Q: DESIGN YOUR DIAL                             33
Azpen eReader                                          32
Easy Healthy Recipes                                   31
Detector de Radares Gratis                             31
Dresses Ideas & Fashions +3000                         31
Drawing Clothes Fashion Ideas                          30
Easy Hair Style Design                                 30
Name: App, Length: 1074, dtype: int64

### Membersihkan data kosong dari dataset Googleplaystore User Review

Googleplaystore User Review memiliki banyak data yang nilainya kosong atau NaN dan tidak memiliki arti untuk disimpan kedalam dataset,
Sehingga data tersebut harus dibuang untuk meringankan pengolahan data.

In [9]:
# membuat tampungan baru untuk diolah
dfNaN = dfGUserReview

# menampilkan jumlah baris sebelum didrop
print("\nJumlah baris sebelum mendrop baris Null : ", len(dfNaN)) 

# mendrop baris yang memiliki nilai NaN minimum 4 dari tampungan ke-2
dfNaNDrop = dfNaN.dropna(axis = 0, how ='all', thresh=4) 

# Menampilkan perbandingan dari tampungan ke-1 dan tampungan ke-2 setelah di drop
print("Panjang dataframe Sebelumnya:", len(dfNaN), "\nPanjang dataframe Setelah didrop:",  
       len(dfNaNDrop), "\nJumlah baris dengan Nilai NaN minimum 4 : ", 
       (len(dfNaN)-len(dfNaNDrop)))

# memasukan nilai dari data yang sudah dibersihkan dari nilai NaN ke dfGUserReview
dfGUserReview = dfNaNDrop

# Mereset Index dari dfGUserReview
dfGUserReview.set_index('App', inplace=True)
dfGUserReview.reset_index(inplace=True)

Jumlah baris sebelum mendrop baris Null :  64295
Panjang dataframe Sebelumnya: 64295
Panjang dataframe Setelah didrop: 37432
Jumlah baris dengan Nilai NaN minimum 4 :  26863

## Mencari value unik dari dataset Googleplaystore Apps

Dalam Dataset GooglePlaystore terdapat value-value unik yabg dapat ditamplikan untuk mendapat gambaran mengenai value yang ada dari tiap kolom.
Berikut ini adalah value unik dari tiap kolom :

### Category

In [10]:
# nilai unik dari kolom kategori
dfGapps['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

Dalam kolom kategori ditemukan value yang tidak sesuai dengan keseluruhan data yang ada yaitu '1.9', maka harus ditemukan baris keberapa yang memiliki nilai tersebut.

In [11]:
dfGapps[dfGapps['Category'] == '1.9']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

dalam baris tersebut terlihat ada pergeseran data sehingga baris dan kolom tidak sinkron satu dengan yang lain. untuk mengatasi hal tersebut digunakan shift method yang ada dalam pandas.

In [12]:
dfGapps.loc[10472] = dfGapps.loc[10472].shift()
dfGapps['App'].loc[10472] = dfGapps['Category'].loc[10472]
dfGapps['Category'].loc[10472] = np.nan
dfGapps.loc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              NaN
Rating                                                1.9
Reviews                                                19
Size                                                 3.0M
Installs                                           1,000+
Type                                                 Free
Price                                                   0
Content Rating                                   Everyone
Genres                                                NaN
Last Updated                            February 11, 2018
Current Ver                                        1.0.19
Android Ver                                    4.0 and up
Name: 10472, dtype: object

In [13]:
# membuat list untuk menampung data Category yang unik
data_cat = {'Category':dfGapps['Category'].unique()} 

# memasukan data kategori ke dataframe
dfCat = pd.DataFrame(data_cat)
dfCat.head(10)

              Category
0       ART_AND_DESIGN
1    AUTO_AND_VEHICLES
2               BEAUTY
3  BOOKS_AND_REFERENCE
4             BUSINESS
5               COMICS
6        COMMUNICATION
7               DATING
8            EDUCATION
9        ENTERTAINMENT

### Rating

In [14]:
# nilai unik dari kolom Rating
dfGapps['Rating'].unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4.0, nan, 4.8,
       4.9, 3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5.0, 2.6, 3.0, 1.9, 2.5, 2.8,
       2.7, 1.0, 2.9, 2.3, 2.2, 1.7, 2.0, 1.8, 2.4, 1.6, 2.1, 1.4, 1.5,
       1.2, '1.9'], dtype=object)

datatype 'Rating' bertipe object dan harus diubah menjadi numerik agar dapat disorting

In [15]:
# mengkonversi tipe data dari kolom Rating
dfGapps['Rating'] = pd.to_numeric(dfGapps['Rating'],errors='coerce')

In [16]:
# Menampilkan Aplikasi yang memiliki rating dari terendah ke tertinggi
dfRat = dfGapps
dfRat.sort_values(by='Rating',ascending=True)[['App','Rating']].head()

                                                    App  Rating
625                             House party - live chat     1.0
7383                                     Thistletown CI     1.0
10400           Familial Hypercholesterolaemia Handbook     1.0
10591  Lottery Ticket Checker - Florida Results & Lotto     1.0
8875                                     DT future1 cam     1.0

In [17]:
#Nilai terendah, tertinggi dan rata-rata dari kolom Rating
print("Min,","Max,","Mean")
dfGapps['Rating'].min(),dfGapps['Rating'].max(),dfGapps['Rating'].mean()

Min, Max, Mean

(1.0, 5.0, 4.1915127575531175)

### Size

In [18]:
# nilai unik dari kolom Size
dfGapps['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

### Installs

In [ ]:
# nilai unik dari kolom Installs
dfGapps['Installs'].unique()

Setelah menemukan Nilai unik dari kolom Installs, dapat mengetahui jarak dari satu titik milestone ke titik milestone lainnya.

### Type

In [ ]:
# nilai unik dari kolom Type
dfGapps['Type'].unique()

### Price

In [ ]:
# nilai unik dari kolom Type
dfGapps['Price'].unique()

dengan mengetahui harga-harga yang dimiliki oleh tiap Aplikasi yang ada didalam googleplaystore dapat mengetahui 20 besar aplikasi termahal yang ada, namun sebelumnya harus dibuat konverter currency dengan kode berikut :

In [ ]:
def convert_currency(val):
    
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [ ]:
# Membuat dataframe baru yang berisikan nilai dari dataframe dfGapps
dfPrice = dfGapps
# mengaplikasikan method convert_currency kedalam dfPrice
dfPrice['Price'] = dfGapps['Price'].apply(convert_currency)

In [ ]:
# Menampilkan 20 aplikasi termahal didalam googleplaystore
dfPrice.sort_values(by='Price',ascending=False)[['App','Price']].head(20)

### Content Rating

In [ ]:
# nilai unik dari kolom Content Rating
dfGapps['Content Rating'].unique()

### Genres

In [ ]:
# nilai unik dari kolom Genres
dfGapps['Genres'].unique()

In [ ]:
# membuat list untuk menampung data Genres yang unik
data_genres = {'Genres':dfGapps['Genres'].unique()} 

# memasukan data Genres ke dataframe
dfgenres = pd.DataFrame(data_genres)
dfgenres.head(10)

### Android Ver

In [ ]:
# nilai unik dari kolom Android Ver
dfGapps['Android Ver'].unique()